{:itonami.blueprint/id "cloud-itonami-1071"
 :itonami.blueprint/name "Bakery Products Coordination"
 :itonami.blueprint/isic-rev5 "1071"
 :itonami.blueprint/domain :food/bakery-products
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:food-security :food-safety :fair-labor]
 :itonami.blueprint/governor :bakery-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :cae]
 :itonami.blueprint/optional-technologies [:optimization :telemetry]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :blueprint}
